html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    appearance:none;
}
html{
    font: 10px 'Microsoft YaHei', 'Helvetica', 'Helvetica Neue', Helvetica, STHeiTi, sans-serif;
}

.pa{
    position: absolute;
}
.pr{
    position: relative;
}
.pf{
    position: fixed;
}
.ps{
    position: static;
}
.dib{
    display: inline-block;
}
.db{
    display: block;
}
.dn{
    display: none;
}

/*外边距*/
.mtb10{
    margin: 10px 0;
}

.mt8{
    margin-top: 8px;
}
.mfp5{
    margin-left: 5%;
}
.mfp4{
    margin-left: 4%;
}
.ml10{
    margin-left: 10px;
}
.ml25{
    margin-left: 25px;
}
.mr10{
    margin-right: 10px;
}
.ml45{
    margin-left: 45px !important;
}
.mr20{
    margin-right: 20px;
}
.mr45{
    margin-right: 45px;
}
.mb5{
    margin-bottom: 5px !important;
}
.mrl10{
    margin-left: 10px;
    margin-right: 10px;
}
.mlf5{
    margin-left: -5px;
}
.mlf8{
    margin-left: -8px;
}

/*内边距*/
.pt5{
    padding-top: 5px;
}
.ptb10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.pt0{
    padding-top: 0px !important;
}
.pb45{
    padding-bottom: 45px;
}
.pb0{
    padding-bottom: 0!important;
}

.pr0{
    padding-right: 0 !important;
}
.pr3{
    padding-right: 3px;
}
.pr10{
    padding-right: 10px;
}
.pl0{
    padding-left: 0 !important;
}
.pl5{
    padding-left: 5px !important;
}
.pl10{
    padding-left: 10px;
}
.pl30{
    padding-left: 30px;
}
.prl0{
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.w60p{
    width: 60%;
}

/*文字大小*/
.fs20{
    font-size: 20px;
}

/*文本对齐方式*/
.tc{
    text-align: center;
}
.tl{
    text-align: left !important;
}
.tr{
    text-align: right !important;;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.mtp5{
    margin-top: 5px;
}
.mtp20{
    margin-top: 20px;
}
.lf3{
    left: 3px;
}
.mt12{
    margin-top: 12px;
}
/*居中*/
.mra{
    margin: 0 auto;
}
.clearfix:after{
    content:' ';
    height: 0;
    visibility: hidden;
    display: block;
    clear:both;
}
.clearfix {
    clear: both;
    *zoom: 1;
}

.wap-content{
    /*height: 100%;*/
    max-width: 750px;
    margin: 0 auto;
    background-color: #eee;
    /*overflow: hidden;*/
}

a, label, input, button, select, textarea{
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
}
input, button,select, textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: background-color;
    background-color: transparent;
    outline: none;
    border: none;
}
a {
    text-decoration: none;
    color: inherit;
    /* color: #2c3a46; */
}

.sport-title{
    display: inline-block;
    width: 100%;
    margin-left: 14px;
    font-size: 16px;
    font-weight: 600;
    /*border-bottom: 1px solid #f4f4f4;*/
    height: 40px;
    line-height: 40px;
}
.sport-row{
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #f4f4f4;
    width: 100%;
}