* {
  margin: 0;
  padding: 0;
}
#calendar {
  width: 750px;
  margin: 0 auto;
  position: fixed;
  top: 7%;
  z-index: 11;
  background-color: #ffffff;
}
.month li,
.weekdays li {
  display: inline;
}
.month {
  width: 750px;
  height: 90px;
  line-height: 90px;
  border-bottom: 1px solid #cfc4ce;
  border-top: 1px solid #f0eaef;
}
.month ul {
  display: inline-block;
  width: 100%;
  height: 90px;
  text-align: center;
}
.month .year-month {
  font-size: 28px;
  color: #9b5ba5;
}
.month .arrow-li-right,
.month .arrow-li-left {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 90px;
}
.month .arrow-left,
.month .arrow-right {
  position: absolute;
  top: 30px;
  display: inline-block;
  border-bottom: 4px solid #fdab9f;
  width: 25px;
  height: 25px;
}
.month .arrow-left {
  border-left: 4px solid #fdab9f;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  right: 100px;
}
.month .arrow-left-disable {
  border-left: 4px solid #cccccc;
  border-bottom: 4px solid #cccccc;
}
.month .arrow-right {
  border-right: 4px solid #fdab9f;
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  left: 100px;
}
.month .arrow-right-disable {
  border-right: 4px solid #cccccc;
  border-bottom: 4px solid #cccccc;
}
.weekdays {
  height: 100px;
  width: 100%;
  margin: 0 auto;
  font-size: 0;
}
.weekdays li {
  display: inline-block;
  height: 100px;
  line-height: 100px;
  font-size: 22px;
  color: #f96184;
  width: 14%;
  text-align: center;
}
.days {
  width: 100%;
  height: 100%;
}
.days li {
  display: inline-block;
  height: auto;
  font-size: 30px;
  color: #252525;
  width: 14%;
  text-align: center;
  position: relative;
}
.days li span {
  width: 100%;
  height: 90px;
  line-height: 90px;
  display: inline-block;
}
.other-month {
  display: inline-block;
  height: 100%;
  width: 100%;
  color: #cfc5d4;
}
.other-month-day {
  color: #cfc5d4;
}
.today {
  color: #a574a9;
}
.undo-icon {
  background-color: #ff9a95;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  position: absolute;
  top: 65px;
  left: 40px;
}
.choice_active {
  background-color: #f7f5f8;
}
